footer
    div(class='container text-center small' style='color:darkgray')
        br
        |[&nbsp;
        a(href='/index') API Doc
        |&nbsp;]&nbsp;&nbsp;&nbsp;[&nbsp;
        a(href='/games') Get Games
        |&nbsp;]&nbsp;&nbsp;&nbsp;[&nbsp;
        a(href='/scores') Get Scores
        |&nbsp;]&nbsp;&nbsp;&nbsp;[&nbsp;
        a(href='/teams') Get Teams
        |&nbsp;]&nbsp;&nbsp;&nbsp;[&nbsp;
        a(href='/mazes') Get Maze List
        |&nbsp;]
    br