doctype html
html
    include head.pug
    div(class='container text-center')
        h1 Game Server - API Documentation
        br
        table(class='table table-striped table-dark table-hover' style='color:antiquewhite')
            th(scope='col') Link
            th(scope='col') Action
            th(scope='col') Type
            th(scope='col') Arguments
            th(scope='col') Return
            th(scope='col') Method
            th(scope='col') Status
            th(scope='col') Description
            tr
                td(class='td-left')
                    a(href= 'http://' + host) This Page
                td Get
                td Get
                td HTML 
                td(class='td-left') N/A
                td(class='td-left') API Documentation
                td Current
                td(class='td-left') Returns this document.
            tr
                td(class='td-left')
                    a(href= 'http://' + host + '/games') List Games
                td Get
                td Get
                td JSON 
                td(class='td-left') N/A
                td(class='td-left') List of active games.
                td Current
                td(class='td-left') Returns a list of currently active games.
            tr
                td(class='td-left')
                    a(href= 'http://' + host + '/game/625a0dbb-011d-4eb2-98f9-9c5a6775ad89') Get Game
                td Get
                td Get
                td JSON 
                td(class='td-left') GameId (GUID)
                td(class='td-left') A single game object as JSON.
                td Current
                td(class='td-left') Returns an active game with the matching GameID GUID. 
            tr
                td(class='td-left')
                    a(href= 'http://' + host + '/game/new/10:10:SlipperyDevil/1') New Game
                td Get
                td Get
                td JSON 
                td(class='td-left') MazeId/TeamId
                td(class='td-left') Game Data
                td Current
                td(class='td-left') Returns the game data for a new game session, or redirects to /get/GameID if team already has a game underway
            tr
                td(class='td-left')
                    a(href= 'http://' + host + '/mazes') List Mazes
                td Get
                td Get
                td JSON 
                td(class='td-left') N/A
                td(class='td-left') List of Mazes
                td Current
                td(class='td-left') Returns the list of Mazes (stubbed data) available on the server 
            tr
                td(class='td-left')
                    a(href= 'http://' + host + '/maze/10:15:SimpleSample') Get Maze
                td Get
                td Get
                td JSON 
                td(class='td-left') MazeId (H:W:Seed)
                td(class='td-left') Maze Data
                td Current
                td(class='td-left') Returns the maze data for a single maze with the given MazeId
            tr
                td(class='td-left')
                    a(href= 'http://' + host + '/teams') Get Teams
                td Get
                td Get
                td JSON 
                td(class='td-left') N/A
                td(class='td-left') List of Teams
                td Current
                td(class='td-left') Returns all Teams
            tr
                td(class='td-left')
                    a(href= 'http://' + host + '/scores') Get Scores
                td Get
                td Get
                td JSON 
                td(class='td-left') N/A
                td(class='td-left') List of Scores
                td Current
                td(class='td-left') Returns all Scores
    include foot.pug