doctype html
html
    include head.pug
    div(class='container text-center')
        h1 Game Server - API Documentation
        br
        table(class='table table-striped table-dark table-hover' style='color:antiquewhite')
            th(scope='col') Link
            th(scope='col') Method
            th(scope='col') Type
            th(scope='col') Arguments
            th(scope='col') Return
            th(scope='col') Description
            tr
                td.text-nowrap
                    a(href= 'http://' + host + '/game/new/10:10:SlipperyDevil/b451bb96-f32a-48be-9efd-5f82cd900b66') Create Game
                td Get
                td
                    h1.badge.badge-primary JSON
                td MazeId, TeamId
                td Game Data
                td.text-left Creates new (or finds existing) game session and returns link to game data.
            tr
                td.text-nowrap
                    a(href= 'http://' + host + '/game/625a0dbb-011d-4eb2-98f9-9c5a6775ad89') Get Game
                td Get
                td
                    h1.badge.badge-primary JSON
                td GameId (GUID)
                td Game Data
                td.text-left Returns game with matching GameID or 402 if not found.
            tr
                td.text-nowrap
                    a(href= 'http://' + host + '/games') Get Games
                td Get
                td
                    h1.badge.badge-primary JSON
                td N/A
                td Game Data Stubs
                td.text-left Returns Game Data for all active games.
            tr
                td.text-nowrap
                    a(href= 'http://' + host + '/games/list') List Games
                td Get
                td
                    h1.badge.badge-success HTML
                td N/A
                td List of Games
                td.text-left Returns a spiffy HTML list of active games.
            tr
                td.text-nowrap
                    a(href= 'http://' + host + '/maze/10:15:SimpleSample') Get Maze
                td Get
                td
                    h1.badge.badge-primary JSON
                td MazeId (H:W:Seed)
                td Maze Data
                td.text-left Returns Maze from cache, 402 if not found
            tr
                td.text-nowrap
                    a(href= 'http://' + host + '/mazes') Get Mazes
                td Get
                td
                    h1.badge.badge-primary JSON
                td N/A
                td Maze Data Stubs
                td.text-left Returns list of Maze Stubs available in cache
            tr
                td.text-nowrap
                    a(href= 'http://maze.code-camp-2018.com/list' target='_blank') List Mazes
                td Get
                td
                    h1.badge.badge-success HTML
                    |&nbsp;
                    h1.badge.badge-warning EXT
                td N/A
                td List of Mazes
                td.text-left Links to Maze Service /list
            tr
                td.text-nowrap
                    a(href= 'http://' + host + '/teams') Get Teams
                td Get
                td
                    h1.badge.badge-primary JSON
                td N/A
                td Team Data
                td.text-left Returns all Teams in cache
            tr
                td.text-nowrap
                    a(href= 'http://team.code-camp-2018.com/list' target='_blank') List Teams
                td Get
                td
                    h1.badge.badge-success HTML
                    |&nbsp;
                    h1.badge.badge-warning EXT
                td N/A
                td List of Teams
                td.text-left Links to Team Service /list
            tr
                td.text-nowrap
                    a(href= 'http://' + host + '/scores') Get Scores
                td Get
                td
                    h1.badge.badge-primary JSON
                td N/A
                td Score Data
                td.text-left Returns all Scores
            tr
                td.text-nowrap
                    a(href= 'http://score.code-camp-2018.com/list' target='_blank') List Scores
                td Get
                td.text-nowrap
                    h1.badge.badge-success HTML
                    |&nbsp;
                    h1.badge.badge-warning EXT
                td N/A
                td List of Scores
                td.text-left Returns an HTML List of Scores
    include foot.pug